Repository Dash-Industry-Forum/dash.js, pull requests merged in 2019-06, with the labels that each got.

#3002 Fix ABR controller if min allowed bitrate is set
  samples/dash-if-reference-player/app/main.js
  samples/dash-if-reference-player/index.html
  src/streaming/controllers/AbrController.js
Labels: Bug

#2990 Functional tests integration with circleci
  .circleci/config.yml
  samples/functional-tests/index.html
  test/functional/config.js
  test/functional/config/applications.js
Labels: Automation

#3005 Fix thumbnail sample hostnames to point to a hostname with a valid cert
  samples/dash-if-reference-player/app/sources.json
Labels: Reference Player

#3007 Add unit tests for new segments model
  src/dash/utils/ListSegmentsGetter.js
  src/dash/utils/SegmentBaseGetter.js
  src/dash/utils/TemplateSegmentsGetter.js
  src/dash/utils/TimelineSegmentsGetter.js
  test/unit/dash.DashHandler.js
  test/unit/dash.controllers.RepresentationController.js
  test/unit/dash.controllers.SegmentsController.js
  test/unit/dash.utils.ListSegmentsGetter.js
  test/unit/dash.utils.SegmentBaseGetter.js
  test/unit/dash.utils.TemplateSegmentsGetter.js
  test/unit/dash.utils.TimelineSegmentsGetter.js
  test/unit/streaming.MediaPlayer.js
  test/unit/streaming.controllers.AbrController.js
  test/unit/streaming.controllers.BufferController.js
  test/unit/streaming.controllers.FragmentController.js
  test/unit/streaming.models.FragmentModel.js
Labels: Unit Testing

#3009 Stop the player from streaming past the availability range
  src/dash/DashHandler.js
  src/dash/controllers/SegmentsController.js
Labels: Bug

#3011 [MSS] Update for live streams support
  src/mss/MssFragmentMoofProcessor.js
  src/mss/parser/MssParser.js
Labels: MSS
