Repository Dash-Industry-Forum/dash.js, pull requests merged in 2020-07, with the labels that each got.

#3330 Remove profiles from mimeType attribute as they will cause problems w…
  src/dash/models/DashManifestModel.js
  test/unit/dash.models.DashManifestModel.js
Labels: Feature request from DASH IF IOP

#3335 #3239
  samples/dash-if-reference-player/app/main.js
  samples/dash-if-reference-player/app/sources.json
Labels: Code Refactor, Reference Player

#3293 Store and use fragmentedText settings in localStorage
  contrib/akamai/controlbar/ControlBar.js
  samples/captioning/multi-track-captions.html
  src/streaming/Stream.js
  src/streaming/controllers/MediaController.js
  src/streaming/text/TextController.js
  test/unit/mocks/MediaControllerMock.js
  test/unit/streaming.text.TextController.js
Labels: Subtitles
